@tailwind base;

@tailwind components;

@tailwind utilities;

::selection {
  background: #b4d5ff;
}

pre {
  @apply rounded;
}

code {
  @apply rounded px-1.5 py-1 text-sm;
  color: #fff;
  background: #011627;
}
